---
import { getEntry } from 'astro:content'

import SocialList from '@/components/SocialList.astro'
import PostPreview from '@/components/blog/PostPreview.astro'
import TimelineItem from '@/components/timeline/TimelineItem.astro'
import { getAllPosts, sortMDByDate } from '@/data/post'
import PageLayout from '@/layouts/Base.astro'
import { getAllTimeline, sortTimelineAscByYear } from '@/utils'

const MAX_POSTS = 10
const MAX_TIMELINE_ITEMS = 1
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
const allTimelineItems = await getAllTimeline()
const allTimelineItemsByDate = sortTimelineAscByYear(allTimelineItems).slice(-MAX_TIMELINE_ITEMS)

const { data: status } = await getEntry('status', 'current')
---

<PageLayout meta={{ title: 'Home' }}>
  <section>
    <h1 class="title mb-6">🙋🏼‍♂️ Hi! I'm Oriol</h1>
    <p class="mb-2">A Product Engineer from Barcelona, currently focused on the web platform.</p>
    <p class="mb-4">
      Here I write about personal projects, my programming career, and any new cool tech I find.
    </p>
    <SocialList />
  </section>
  <section aria-label="Current status" class="mt-16">
    <h2 class="title mb-4 text-xl">Status</h2>
    <p class="mb-2">
      {
        status.company ? (
          <>
            Working as a {status.company.title} at
            <a
              href={status.company.url}
              target="_blank"
              rel="noopener noreferrer"
              class="cactus-link"
            >
              {status.company.name}
            </a>
          </>
        ) : (
          '🔍 Looking for my new challenge'
        )
      } and {status.interest}
    </p>
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="title mb-4 text-xl">Posts</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map(p => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
  <section aria-label="Programmer carrer timeline" class="mt-16">
    <h2 class="title mb-4 text-xl">Timeline</h2>
    <a href="/timeline" class="cactus-link mt-4" data-astro-prefetch>See all I've done</a>
    {allTimelineItemsByDate.map(item => <TimelineItem item={item} />)}
  </section>
</PageLayout>
